@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @comment;
}

.keyword {
  color: @keyword;

  &.control {
    color: @control;
  }

  &.operator {
    color: @syntax-text-color;
  }

  &.other.special-method {
    color: @keyword;
  }

  &.other.unit {
    color: #de935f;
  }
}

.storage {
  color: @keyword;
}

.constant {
  color: #de935f;

  &.character.escape {
    color: @escape;
  }

  &.numeric {
    color: @number;
  }

  &.other.color {
    color: @constant;
  }

  &.other.symbol {
    color: #b5bd68;
  }
}

.variable {
  color: @variable !important;

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @syntax-text-color;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @string;


  &.regexp {
    color: @regex;

    .source.ruby.embedded {
      color: #de935f;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @light-gray;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: #00f;
    }

    &.bold {
      color: #f0c674;
      font-weight: bold;
    }

    &.italic {
      color: #b294bb;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: @class;
  }

  &.function
  {
	  color: @function;
  }

  &.magic
  {
	  color: @magic-function;
  }

  &.namespace
  {
	  color: @namespace;
  }

  &.function.construct
  {
	  color: @keyword;
  }
}

.entity {
  &.name.function {
    color: @function;
  }
  &.name.type {
    color: #f0c674;
  }

  &.other.inherited-class {
    color: #b5bd68;
  }
  &.name.class, &.name.type.class {
    color: @class;
  }

  &.name.section {
    color: #00f;
  }

  &.name.tag {
    color: @tag;
  }

  &.other.attribute-name {
    color: @attribute-name;

    &.id {
      color: @tag-id;
    }
  }
}

.html
{
	&.string
	{
		color: @tag-string;
	}
}

.meta {
  &.class {
    color: #f0c674;
  }

  &.link {
    color: #de935f;
  }

  &.require {
    color: @keyword;
  }

  &.selector {
    color: #b294bb;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: #de935f;
    font-weight: bold;
  }

  &.changed {
    color: #b294bb;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: #b294bb;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: #00f;
  }

  &.inserted {
    color: #b5bd68;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: #de935f;
  }

  &.raw.inline {
    color: #b5bd68;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: #b5bd68;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
