@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @comment;
}

.syntax--keyword {
  color: @keyword;

  &.syntax--control {
    color: @control;
  }

  /*&.syntax--operator {
    color: @syntax-text-color;
  }*/

  &.syntax--other.syntax--special-method {
    color: @keyword;
  }

  &.syntax--other.syntax--unit {
    color: #de935f;
  }
}

.syntax--storage {
  color: @keyword;
}

.syntax--constant {
  color: #754ccd;	// #5c32b5

  &.syntax--character.syntax--escape {
    color: @escape;
  }

  &.syntax--numeric {
    color: @number;
  }

  &.syntax--boolean {
	  color: @boolean;
  }

  &.syntax--dom
  {
	  color: @dom-constant;
  }

  &.syntax--other.syntax--color {
    color: @constant;
  }

  &.syntax--other.syntax--symbol {
    color: #b5bd68;
  }

  &.syntax--language.syntax--null {
	  color: @keyword;
  }
}

.syntax--variable {
  color: @variable !important;

  &.syntax--interpolation {
    color: darken(@red, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @string;


  &.syntax--regexp {
    color: @regex;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: #de935f;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: #00f;
    }

    &.syntax--bold {
      color: #f0c674;
      font-weight: bold;
    }

    &.syntax--italic {
      color: #b294bb;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class, &.syntax--type.syntax--ts, &.syntax--type.syntax--tsx {
    color: @class;
  }

  &.syntax--function
  {
	  color: @function;
  }

  &.syntax--magic
  {
	  color: @magic-function;
  }

  &.syntax--namespace
  {
	  color: @namespace;
  }

  &.syntax--function
  {
	  &.syntax--construct, &.syntax--array, &.syntax--json, &.syntax--datetime, &.syntax--math
	  {
		  color: @keyword;
	  }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @function;
  }
  &.syntax--name.syntax--type {
    color: @class;
  }

  &.syntax--other.syntax--inherited-class {
    color: #b5bd68;
  }
  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @class;
  }

  &.syntax--name.syntax--section {
    color: #00f;
  }

  &.syntax--name.syntax--tag {
    color: @tag;
  }

  &.syntax--other.syntax--attribute-name {
    color: @attribute-name;

    &.syntax--id {
      color: @tag-id;
    }
  }
}

.syntax--html
{
	&.syntax--string
	{
		color: @tag-string;
	}
}

.syntax--meta {
  &.syntax--class {
    //color: #f0c674;
  }

  &.syntax--link {
    color: #de935f;
  }

  &.syntax--require {
    color: @keyword;
  }

  &.syntax--selector {
    color: #b294bb;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }

  &.syntax--type
  {
	  &.syntax--primitive
	  {
		  color: @keyword;
	  }

	  &.syntax--object, &.syntax--name.syntax--ts, &.syntax--name.syntax--tsx
	  {
		  color: @class;
	  }
  }

  &.syntax--object-literal.syntax--key
  {
	  color: @object-key;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: #de935f;
    font-weight: bold;
  }

  &.syntax--changed {
    color: #b294bb;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: #b294bb;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: #00f;
  }

  &.syntax--inserted {
    color: #b5bd68;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: #de935f;
  }

  &.syntax--raw.syntax--inline {
    color: #b5bd68;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: #b5bd68;
  }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}



.syntax--meta.syntax--magicview
{
	&.syntax--tag {
		color: @mv-tag;
		font-weight: bold;
	}

	&.syntax--operator {
		color: @mv-operator;
	}

	&.syntax--extend,
	&.syntax--include > .syntax--tag, &.syntax--include > .syntax--operator, &.syntax--include > .syntax--path,
	&.syntax--output,
	&.syntax--condition,
	&.syntax--loop,
	&.syntax--form,
	&.syntax--inblock,
	&.syntax--outblock
	{
		background-color: @mv-bg;
	}

	&.syntax--path {
		color: @mv-extend;
	}

	&.syntax--inblock {
		color: @mv-inblock;
	}

	&.syntax--outblock {
		color: @mv-outblock;
	}

	&.syntax--comment {
		color: @comment;
	}
}

atom-text-editor {
  .bracket-matcher .region {
    background-color: rgba(0, 102, 255, 0.25);
    border: 1px solid rgba(0, 102, 255, 0.5);
  }

  .isearch-current .region {
	  background-color: rgba(0, 102, 255, 0.25);
	  border: 1px solid rgba(0, 102, 255, 0.5);
  }
}