// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@very-light-red: #ffcaca;

@cyan: #8abeb7;
@blue: #00f;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;


@namespace-color: #2B91AF;
@class-color: #2B91AF;
@function-color: #000;
@variable-color: #0000a1;
@string-color: #800000;
@magic-function-color: #0D760A;
@comment-color: #008000;
@keyword-color: #00f;
@control-color: @keyword-color;